#introCard{
    text-align: center;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    color: white;
    height: 100vh;
}

#introText{
    padding-top: 20vh;
}

#contactText{
    padding-top: 5%;
}

#aboutMe{
    margin-top: -8vh;
    text-align: center;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    color: white;
    height: 100vh;
}

.profilePic{
    height: 50vh;
    width: 40vh;
    position: relative; 
}

  #contactMe{
    margin-top: -10vh;
    margin-bottom: 0;
    text-align: center;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    color: white;
    height: 100vh;
}

#myWork{
    margin-top: -10vh;
    text-align: center;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
    color: white;
    height: 100vh;
}


.card{
    float: left;
    margin: 10vh;
}

i{
    color: white;
    margin: 3%;
}

.work-cards{
    color: black;
    margin-left: 2%;
}

.titleLinks{
    color: white!important;
    text-decoration: none!important;
}
  

    
@media only screen and (max-width : 500px) {
    .work-cards{
    margin: 0 auto; /* Added */
    float: none; 
    margin-bottom: 10px;
    }

    #contactText{
        margin-top: 70%;
        }
}

#navBar{
    background-color: black!important;
}

.workPics{
    height: 50%;
    width: 50%;
}



