#introCard{
    text-align: center;
    background-image: url("../img/background.png");
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
}

#introText{
    padding-top: 20vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

#introDescription{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

#contactText{
    padding-top: 5%;
    margin-top: 20%;
    font-family: 'Montserrat', sans-serif;
}

#aboutMe{
    margin-top: -8vh;
    text-align: center;
    background-image: url("../img/background.png");
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
}

.profilePic{
    height: 50vh;
    width: 40vh;
    position: relative; 
    border:1px solid black;
}

  #contactMe{
    margin-top: -10vh;
    margin-bottom: -1px;
    text-align: center;
    background-image: url("../img/background.png");
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 250vh;
}

#myWork{
    margin-top: -10vh;
    text-align: center;
    background-image: url("../img/background.png");
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
}


.card{
    float: left;
    margin: 10vh;
}

i{
    color: white;
    margin: 3%;
}

.work-cards{
    color: black;
    margin-left: 2%;
}

.titleLinks{
    color: white!important;
    text-decoration: none!important;
}
  

#navBar{
    background-color: rgb(250, 10, 130)!important;
    font-family: 'Montserrat', sans-serif;
}

.workPics{
    height: 50%;
    width: 50%;
    margin-bottom: 2%;
    border:1px solid black;
}

.workDiv{
    margin-top: 2%;
    margin-bottom: 8%;
}

#workIntro{
    margin-bottom: 5%;
}

#contactContainer{
    margin-top: 160vh;
}

.ml6 {
    position: relative;
    font-size: 4em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

@media only screen and (max-width : 500px) {
    .work-cards{
    margin: 0 auto; /* Added */
    float: none; 
    margin-bottom: 10px;
    }

    #contactContainer{
        margin-top: 180%;
        margin-bottom: -1px;
    }

    #contactMe{
        height: 200vh;
        margin-top: -10vh;
        padding-top: 40%;
    }

    .ml6 {
        position: relative;
        font-size: 2em;
      }

      #myWork{
        padding-top: 70%;
      }

      #aboutMe{
        padding-top: 10%;
        margin-top: -80%;
      }


    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
        overflow: auto;
    }
}
